openapi: 3.0.3
info:
  title: Pixiv Ajax API
  description: >-
    The details of the Pixiv Ajax API.

    ## Note

    This document was created and published for research purposes only. This
    document is unofficial and in no way affiliated with pixiv. Misuse of the
    API by this document is prohibited.
  termsOfService: https://policies.pixiv.net/
  contact:
    name: daydreamer-json
    url: https://github.com/daydreamer-json
  version: 0.0.1
servers:
  - url: https://www.pixiv.net
    description: pixiv Server
components:
  securitySchemes:
    Cookie_Auth:
      type: apiKey
      description: Specify raw Cookie data
      name: Cookie
      in: header
    CSRF_Token_Auth:
      type: apiKey
      description: Specify CSRF token
      name: x-csrf-token
      in: header
  schemas:
    error_403:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - true
        message:
          type: string
          enum:
            - 不正なリクエストです。
        body:
          type: array
          items:
            type: null
    error_404:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - true
        message:
          type: string
          enum:
            - リクエストされたページが見つかりませんでした
        body:
          type: array
          items:
            type: null
    top_page_artworks:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - tagTranslation
            - thumbnails
            - illustSeries
            - requests
            - users
            - page
            - boothItems
            - sketchLives
            - zoneConfig
          properties:
            tagTranslation:
              type: object
              patternProperties:
                ^.*$:
                  type: object
                  required:
                    - romaji
                  properties:
                    romaji:
                      type: string
            thumbnails:
              type: object
              required:
                - illust
                - novel
                - novelSeries
                - novelDraft
              properties:
                illust:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - title
                      - illustType
                      - xRestrict
                      - restrict
                      - sl
                      - url
                      - description
                      - tags
                      - userId
                      - userName
                      - width
                      - height
                      - pageCount
                      - isBookmarkable
                      - bookmarkData
                      - alt
                      - titleCaptionTranslation
                      - createDate
                      - updateDate
                      - isUnlisted
                      - isMasked
                      - urls
                      - profileImageUrl
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      title:
                        type: string
                      illustType:
                        type: number
                      xRestrict:
                        type: number
                      restrict:
                        type: number
                      sl:
                        type: number
                      url:
                        type: string
                        format: url
                      description:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                      userId:
                        type: string
                        pattern: ^[0-9]$
                      userName:
                        type: string
                      width:
                        type: number
                      height:
                        type: number
                      pageCount:
                        type: number
                      isBookmarkable:
                        type: boolean
                        default: true
                      bookmarkData:
                        type: null
                      alt:
                        type: string
                      titleCaptionTranslation:
                        type: object
                        required:
                          - workTitle
                          - workCaption
                        properties:
                          workTitle:
                            type: null
                          workCaption:
                            type: null
                      createDate:
                        type: string
                        format: date-time
                      updateDate:
                        type: string
                        format: date-time
                      isUnlisted:
                        type: boolean
                        default: false
                      isMasked:
                        type: boolean
                        default: false
                      urls:
                        type: object
                        patternProperties:
                          ^[0-9]*x[0-9]*$:
                            type: string
                            format: url
                      profileImageUrl:
                        type: string
                        format: url
                novel:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - title
                      - xRestrict
                      - restrict
                      - url
                      - tags
                      - userId
                      - userName
                      - profileImageUrl
                      - textCount
                      - wordCount
                      - readingTime
                      - useWordCount
                      - description
                      - isBookmarkable
                      - bookmarkData
                      - bookmarkCount
                      - isOriginal
                      - marker
                      - titleCaptionTranslation
                      - createDate
                      - updateDate
                      - isMasked
                      - isUnlisted
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      title:
                        type: string
                      xRestrict:
                        type: number
                      restrict:
                        type: number
                      url:
                        type: string
                        format: url
                      tags:
                        type: array
                        items:
                          type: string
                      userId:
                        type: string
                        pattern: ^[0-9]$
                      userName:
                        type: string
                      profileImageUrl:
                        type: string
                        format: url
                      textCount:
                        type: number
                      wordCount:
                        type: number
                      readingTime:
                        type: number
                      useWordCount:
                        type: boolean
                      description:
                        type: string
                      isBookmarkable:
                        type: boolean
                        default: true
                      bookmarkData:
                        type: null
                      bookmarkCount:
                        type: number
                      isOriginal:
                        type: boolean
                      marker:
                        type: null
                      titleCaptionTranslation:
                        type: object
                        required:
                          - workTitle
                          - workCaption
                        properties:
                          workTitle:
                            type: null
                          workCaption:
                            type: null
                      createDate:
                        type: string
                        format: date-time
                      updateDate:
                        type: string
                        format: date-time
                      isMasked:
                        type: boolean
                        default: false
                      seriesId:
                        type: string
                        pattern: ^[0-9]$
                      seriesTitle:
                        type: string
                      isUnlisted:
                        type: boolean
                        default: false
                novelSeries:
                  type: array
                  items:
                    type: object
                novelDraft:
                  type: array
                  items:
                    type: object
            illustSeries:
              type: array
              items:
                type: null
            requests:
              type: array
              items:
                type: object
                required:
                  - requestId
                  - planId
                  - fanUserId
                  - creatorUserId
                  - requestStatus
                  - requestPostWorkType
                  - requestPrice
                  - requestProposal
                  - requestTags
                  - requestAdultFlg
                  - requestAnonymousFlg
                  - requestRestrictFlg
                  - requestAcceptCollaborateFlg
                  - requestResponseDeadlineDatetime
                  - requestPostDeadlineDatetime
                  - role
                  - collaborateStatus
                  - postWork
                properties:
                  requestId:
                    type: string
                    pattern: ^[0-9]$
                  planId:
                    type: string
                    pattern: ^[0-9]$
                  fanUserId:
                    type: string
                    pattern: ^[0-9]$
                  creatorUserId:
                    type: string
                    pattern: ^[0-9]$
                  requestStatus:
                    type: string
                  requestPostWorkType:
                    type: string
                  requestPrice:
                    type: number
                  requestProposal:
                    type: object
                    required:
                      - requestOriginalProposal
                      - requestOriginalProposalHtml
                      - requestOriginalProposalLang
                    properties:
                      requestOriginalProposal:
                        type: string
                      requestOriginalProposalHtml:
                        type: string
                      requestOriginalProposalLang:
                        type: string
                      requestTranslationProposal:
                        type: array
                        items:
                          type: object
                          required:
                            - requestProposal
                            - requestProposalHtml
                            - requestProposalLang
                          properties:
                            requestProposal:
                              type: string
                            requestProposalHtml:
                              type: string
                            requestProposalLang:
                              type: string
                  requestTags:
                    type: array
                    items:
                      type: string
                  requestAdultFlg:
                    type: boolean
                    default: false
                  requestAnonymousFlg:
                    type: boolean
                    default: false
                  requestRestrictFlg:
                    type: boolean
                    default: false
                  requestAcceptCollaborateFlg:
                    type: boolean
                  requestResponseDeadlineDatetime:
                    type: string
                    format: date-time
                  requestPostDeadlineDatetime:
                    type: string
                    format: date-time
                  role:
                    type: string
                  collaborateStatus:
                    type: object
                    required:
                      - collaborating
                      - collaborateAnonymousFlg
                      - collaboratedCnt
                      - collaborateUserSamples
                    properties:
                      collaborating:
                        type: boolean
                        default: false
                      collaborateAnonymousFlg:
                        type: boolean
                        default: false
                      collaboratedCnt:
                        type: number
                        default: 0
                      collaborateUserSamples:
                        type: array
                  postWork:
                    type: object
                    required:
                      - postWorkId
                      - postWorkType
                      - work
                    properties:
                      postWorkId:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      postWorkType:
                        type: string
                      work:
                        type: object
                        properties:
                          isUnlisted:
                            type: boolean
                            default: false
                          secret:
                            type: null
tags:
  - name: Top page
    description: Get the information in the top page
paths:
  /ajax/top/illust:
    get:
      tags:
        - Top page
      summary: Get top page artworks
      description: Get the artworks in the top page.
      security:
        - Cookie_Auth: []
        - CSRF_Token_Auth: []
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: mode
          in: query
          description: '`r18` cannot be used without login authorization.'
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - all
              - safe
              - r18
      responses:
        '200':
          description: A JSON of basic response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/top_page_artworks'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
