openapi: 3.0.3
info:
  title: Pixiv Ajax API
  description: >-
    The details of the Pixiv Ajax API.

    ## Note

    This document was created and published for research purposes only. This
    document is unofficial and in no way affiliated with pixiv. Misuse of the
    API by this document is prohibited.
  termsOfService: https://policies.pixiv.net/
  contact:
    name: daydreamer-json
    url: https://github.com/daydreamer-json
  version: 0.0.1
servers:
  - url: https://www.pixiv.net
    description: pixiv Server
components:
  securitySchemes:
    Cookie_Auth:
      type: apiKey
      description: Specify raw Cookie data
      name: Cookie
      in: header
    CSRF_Token_Auth:
      type: apiKey
      description: Specify CSRF token
      name: x-csrf-token
      in: header
  schemas:
    error_403:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - true
        message:
          type: string
          enum:
            - 不正なリクエストです。
        body:
          type: array
          items:
            type: null
    error_404:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - true
        message:
          type: string
          enum:
            - リクエストされたページが見つかりませんでした
        body:
          type: array
          items:
            type: null
    error_404_user:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - true
        message:
          type: string
          enum:
            - リクエストされたページが見つかりませんでした
            - 該当ユーザーは既に退会したか、存在しないユーザーIDです。
        body:
          type: array
          items:
            type: null
    top_page_artworks:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - tagTranslation
            - thumbnails
            - illustSeries
            - requests
            - users
            - page
            - boothItems
            - sketchLives
            - zoneConfig
          properties:
            tagTranslation:
              type: object
              patternProperties:
                ^.*$:
                  type: object
                  required:
                    - romaji
                  properties:
                    romaji:
                      type: string
            thumbnails:
              type: object
              required:
                - illust
                - novel
                - novelSeries
                - novelDraft
              properties:
                illust:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - title
                      - illustType
                      - xRestrict
                      - restrict
                      - sl
                      - url
                      - description
                      - tags
                      - userId
                      - userName
                      - width
                      - height
                      - pageCount
                      - isBookmarkable
                      - bookmarkData
                      - alt
                      - titleCaptionTranslation
                      - createDate
                      - updateDate
                      - isUnlisted
                      - isMasked
                      - urls
                      - profileImageUrl
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      title:
                        type: string
                      illustType:
                        type: number
                      xRestrict:
                        type: number
                      restrict:
                        type: number
                      sl:
                        type: number
                      url:
                        type: string
                        format: url
                      description:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                      userId:
                        type: string
                        pattern: ^[0-9]$
                      userName:
                        type: string
                      width:
                        type: number
                      height:
                        type: number
                      pageCount:
                        type: number
                      isBookmarkable:
                        type: boolean
                        default: true
                      bookmarkData:
                        type: null
                      alt:
                        type: string
                      titleCaptionTranslation:
                        type: object
                        required:
                          - workTitle
                          - workCaption
                        properties:
                          workTitle:
                            type: null
                          workCaption:
                            type: null
                      createDate:
                        type: string
                        format: date-time
                      updateDate:
                        type: string
                        format: date-time
                      isUnlisted:
                        type: boolean
                        default: false
                      isMasked:
                        type: boolean
                        default: false
                      urls:
                        type: object
                        patternProperties:
                          ^[0-9]*x[0-9]*$:
                            type: string
                            format: url
                      profileImageUrl:
                        type: string
                        format: url
                novel:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - title
                      - xRestrict
                      - restrict
                      - url
                      - tags
                      - userId
                      - userName
                      - profileImageUrl
                      - textCount
                      - wordCount
                      - readingTime
                      - useWordCount
                      - description
                      - isBookmarkable
                      - bookmarkData
                      - bookmarkCount
                      - isOriginal
                      - marker
                      - titleCaptionTranslation
                      - createDate
                      - updateDate
                      - isMasked
                      - isUnlisted
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      title:
                        type: string
                      xRestrict:
                        type: number
                      restrict:
                        type: number
                      url:
                        type: string
                        format: url
                      tags:
                        type: array
                        items:
                          type: string
                      userId:
                        type: string
                        pattern: ^[0-9]$
                      userName:
                        type: string
                      profileImageUrl:
                        type: string
                        format: url
                      textCount:
                        type: number
                      wordCount:
                        type: number
                      readingTime:
                        type: number
                      useWordCount:
                        type: boolean
                      description:
                        type: string
                      isBookmarkable:
                        type: boolean
                        default: true
                      bookmarkData:
                        type: null
                      bookmarkCount:
                        type: number
                      isOriginal:
                        type: boolean
                      marker:
                        type: null
                      titleCaptionTranslation:
                        type: object
                        required:
                          - workTitle
                          - workCaption
                        properties:
                          workTitle:
                            type: null
                          workCaption:
                            type: null
                      createDate:
                        type: string
                        format: date-time
                      updateDate:
                        type: string
                        format: date-time
                      isMasked:
                        type: boolean
                        default: false
                      seriesId:
                        type: string
                        pattern: ^[0-9]$
                      seriesTitle:
                        type: string
                      isUnlisted:
                        type: boolean
                        default: false
                novelSeries:
                  type: array
                  items:
                    type: object
                novelDraft:
                  type: array
                  items:
                    type: object
            illustSeries:
              type: array
              items:
                type: null
            requests:
              type: array
              items:
                type: object
                required:
                  - requestId
                  - planId
                  - fanUserId
                  - creatorUserId
                  - requestStatus
                  - requestPostWorkType
                  - requestPrice
                  - requestProposal
                  - requestTags
                  - requestAdultFlg
                  - requestAnonymousFlg
                  - requestRestrictFlg
                  - requestAcceptCollaborateFlg
                  - requestResponseDeadlineDatetime
                  - requestPostDeadlineDatetime
                  - role
                  - collaborateStatus
                  - postWork
                properties:
                  requestId:
                    type: string
                    pattern: ^[0-9]$
                  planId:
                    type: string
                    pattern: ^[0-9]$
                  fanUserId:
                    type: string
                    pattern: ^[0-9]$
                  creatorUserId:
                    type: string
                    pattern: ^[0-9]$
                  requestStatus:
                    type: string
                  requestPostWorkType:
                    type: string
                  requestPrice:
                    type: number
                  requestProposal:
                    type: object
                    required:
                      - requestOriginalProposal
                      - requestOriginalProposalHtml
                      - requestOriginalProposalLang
                    properties:
                      requestOriginalProposal:
                        type: string
                      requestOriginalProposalHtml:
                        type: string
                      requestOriginalProposalLang:
                        type: string
                      requestTranslationProposal:
                        type: array
                        items:
                          type: object
                          required:
                            - requestProposal
                            - requestProposalHtml
                            - requestProposalLang
                          properties:
                            requestProposal:
                              type: string
                            requestProposalHtml:
                              type: string
                            requestProposalLang:
                              type: string
                  requestTags:
                    type: array
                    items:
                      type: string
                  requestAdultFlg:
                    type: boolean
                    default: false
                  requestAnonymousFlg:
                    type: boolean
                    default: false
                  requestRestrictFlg:
                    type: boolean
                    default: false
                  requestAcceptCollaborateFlg:
                    type: boolean
                  requestResponseDeadlineDatetime:
                    type: string
                    format: date-time
                  requestPostDeadlineDatetime:
                    type: string
                    format: date-time
                  role:
                    type: string
                  collaborateStatus:
                    type: object
                    required:
                      - collaborating
                      - collaborateAnonymousFlg
                      - collaboratedCnt
                      - collaborateUserSamples
                    properties:
                      collaborating:
                        type: boolean
                        default: false
                      collaborateAnonymousFlg:
                        type: boolean
                        default: false
                      collaboratedCnt:
                        type: number
                        default: 0
                      collaborateUserSamples:
                        type: array
                  postWork:
                    type: object
                    required:
                      - postWorkId
                      - postWorkType
                      - work
                    properties:
                      postWorkId:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      postWorkType:
                        type: string
                      work:
                        type: object
                        properties:
                          isUnlisted:
                            type: boolean
                            default: false
                          secret:
                            type: null
            users:
              type: array
              items:
                type: object
                required:
                  - partial
                  - comment
                  - followedBack
                  - userId
                  - name
                  - image
                  - imageBig
                  - premium
                  - isFollowed
                  - isMypixiv
                  - isBlocking
                  - background
                  - acceptRequest
                properties:
                  partial:
                    type: number
                    default: 0
                  comment:
                    type: string
                  followedBack:
                    type: boolean
                    default: false
                  userId:
                    type: string
                    pattern: ^[0-9]$
                  name:
                    type: string
                  image:
                    type: string
                    format: url
                  imageBig:
                    type: string
                    format: url
                  premium:
                    type: boolean
                    default: false
                  isFollowed:
                    type: boolean
                    default: false
                  isMypixiv:
                    type: boolean
                    default: false
                  isBlocking:
                    type: boolean
                    default: false
                  background:
                    type: null
                  acceptRequest:
                    type: boolean
                    default: false
            page:
              type: object
              required:
                - tags
                - follow
                - mypixiv
                - recommend
                - recommendByTag
                - ranking
                - pixivision
                - recommendUser
                - contestOngoing
                - contestResult
                - editorRecommend
                - boothFollowItemIds
                - sketchLiveFollowIds
                - sketchLivePopularIds
                - myFavoriteTags
                - newPost
                - trendingTags
                - completeRequestIds
                - userEventIds
              properties:
                tags:
                  type: array
                  items:
                    type: object
                    required:
                      - tag
                      - ids
                    properties:
                      tag:
                        type: string
                      ids:
                        type: array
                        items:
                          type: number
                follow:
                  type: array
                  items:
                    type: number
                mypixiv:
                  type: array
                recommend:
                  type: object
                  required:
                    - ids
                    - details
                  properties:
                    ids:
                      type: array
                      items:
                        type: string
                        pattern: ^[0-9]{2-9}$
                    details:
                      type: object
                      patternProperties:
                        ^[0-9]{2-9}$:
                          type: object
                          required:
                            - methods
                            - score
                            - seedIllustIds
                          properties:
                            methods:
                              type: array
                              items:
                                type: string
                            score:
                              type: number
                            seedIllustIds:
                              type: string
                              pattern: ^[0-9]{2,9}$
                recommendByTag:
                  type: array
                  items:
                    type: object
                    required:
                      - tag
                      - ids
                      - details
                    properties:
                      tag:
                        type: string
                      ids:
                        type: array
                        items:
                          type: string
                          pattern: ^[0-9]{2,9}$
                      details:
                        type: object
                        patternProperties:
                          ^[0-9]{2-9}$:
                            type: object
                            required:
                              - methods
                              - score
                              - seedIllustIds
                            properties:
                              methods:
                                type: array
                                items:
                                  type: string
                              score:
                                type: number
                              seedIllustIds:
                                type: array
                                items:
                                  type: null
                ranking:
                  type: object
                  required:
                    - items
                    - date
                  properties:
                    items:
                      type: array
                      items:
                        type: object
                        required:
                          - rank
                          - id
                        properties:
                          rank:
                            type: string
                            pattern: ^[0-9]$
                          id:
                            type: string
                            pattern: ^[0-9]{2,9}$
                    date:
                      type: string
                pixivision:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - title
                      - thumbnailUrl
                      - url
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]$
                      title:
                        type: string
                      thumbnailUrl:
                        type: string
                        format: url
                      url:
                        type: string
                        format: url
                recommendUser:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - illustIds
                      - novelIds
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]$
                      illustIds:
                        type: array
                        items:
                          type: string
                          pattern: ^[0-9]{2,9}$
                      novelIds:
                        type: array
                        items:
                          type: string
                          pattern: ^[0-9]$
                contestOngoing:
                  type: array
                  items:
                    type: object
                    required:
                      - slug
                      - type
                      - name
                      - url
                      - iconUrl
                      - workIds
                      - isNew
                    properties:
                      slug:
                        type: string
                      type:
                        type: string
                      name:
                        type: string
                      url:
                        type: string
                        format: url
                      iconUrl:
                        type: string
                        format: url
                      workIds:
                        type: array
                        items:
                          type: number
                      isNew:
                        type: boolean
                contestResult:
                  type: array
                  items:
                    type: null
                editorRecommend:
                  type: array
                  items:
                    type: object
                    required:
                      - illustId
                      - comment
                    properties:
                      illustId:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      comment:
                        type: string
                boothFollowItemIds:
                  type: array
                  items:
                    type: string
                    pattern: ^[0-9]$
                sketchLiveFollowIds:
                  type: array
                  items:
                    type: string
                    pattern: ^[0-9]$
                sketchLivePopularIds:
                  type: array
                  items:
                    type: string
                    pattern: ^[0-9]$
                myFavoriteTags:
                  type: array
                  items:
                    type: string
                newPost:
                  type: array
                  items:
                    type: string
                    pattern: ^[0-9]{2,9}$
                trendingTags:
                  type: array
                  items:
                    type: object
                    required:
                      - tag
                      - trendingRate
                      - ids
                    properties:
                      tag:
                        type: string
                      trendingRate:
                        type: number
                      ids:
                        type: array
                        items:
                          type: number
                completeRequestIds:
                  type: array
                  items:
                    type: string
                    format: ^[0-9]$
                userEventIds:
                  type: array
                  items:
                    type: string
                    format: ^[0-9]{2,9}$
            boothItems:
              type: array
              items:
                type: object
                required:
                  - id
                  - userId
                  - title
                  - url
                  - imageUrl
                  - adult
                properties:
                  id:
                    type: string
                    pattern: ^[0-9]$
                  userId:
                    type: string
                    pattern: ^[0-9]$
                  title:
                    type: string
                  url:
                    type: string
                    format: url
                  imageUrl:
                    type: string
                    format: url
                  adult:
                    type: boolean
                    default: false
            sketchLives:
              type: array
              items:
                type: object
                required:
                  - id
                  - name
                  - url
                  - thumbnailUrl
                  - audienceCount
                  - isR18
                  - streamerIds
                properties:
                  id:
                    type: string
                    pattern: ^[0-9]$
                  name:
                    type: string
                  url:
                    type: string
                    format: url
                  thumbnailUrl:
                    type: string
                    format: url
                  audienceCount:
                    type: number
                  isR18:
                    type: boolean
                    default: false
                  streamerIds:
                    type: array
                    items:
                      type: number
            zoneConfig:
              type: object
              required:
                - logo
                - header
                - footer
                - topbranding_rectangle
                - comic
                - illusttop_appeal
              properties:
                logo:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                header:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                footer:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                topbranding_rectangle:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                comic:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                illusttop_appeal:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
    user_info_short:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - userId
            - name
            - image
            - imageBig
            - premium
            - isFollowed
            - isMypixiv
            - isBlocking
            - background
            - sketchLiveId
            - partial
            - acceptRequest
            - sketchLives
          properties:
            userId:
              type: string
              pattern: ^[0-9]$
            name:
              type: string
            image:
              type: string
              format: url
            imageBig:
              type: string
              format: url
            premium:
              type: boolean
              default: false
            isFollowed:
              type: boolean
              default: false
            isMypixiv:
              type: boolean
              default: false
            isBlocking:
              type: boolean
              default: false
            background:
              type: null
            sketchLiveId:
              type: null
            partial:
              type: number
            acceptRequest:
              type: boolean
              default: false
            sketchLives:
              type: array
              items:
                type: null
    user_info_full:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - userId
            - name
            - image
            - imageBig
            - premium
            - isFollowed
            - isMypixiv
            - isBlocking
            - background
            - sketchLiveId
            - partial
            - acceptRequest
            - sketchLives
            - following
            - followedBack
            - comment
            - commentHtml
            - webpage
            - social
            - canSendMessage
            - region
            - age
            - birthDay
            - gender
            - job
            - workspace
            - official
            - group
          properties:
            userId:
              type: string
              pattern: ^[0-9]$
            name:
              type: string
            image:
              type: string
              format: url
            imageBig:
              type: string
              format: url
            premium:
              type: boolean
              default: false
            isFollowed:
              type: boolean
              default: false
            isMypixiv:
              type: boolean
              default: false
            isBlocking:
              type: boolean
              default: false
            background:
              type: null
            sketchLiveId:
              type: null
            partial:
              type: number
            acceptRequest:
              type: boolean
              default: false
            sketchLives:
              type: array
              items:
                type: null
            following:
              type: number
            followedBack:
              type: boolean
              default: false
            comment:
              type: string
            commentHtml:
              type: string
            webpage:
              type: null
            social:
              type: object
              properties:
                twitter:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
            canSendMessage:
              type: boolean
            region:
              type: object
              properties:
                name:
                  type: string
                region:
                  type: string
                prefecture:
                  type: string
                privacyLevel:
                  type: string
                  pattern: ^[0-9]$
            age:
              type: object
              properties:
                name:
                  type: string
                privacyLevel:
                  type: string
                  pattern: ^[0-9]$
            birthDay:
              type: object
              properties:
                name:
                  type: string
                privacyLevel:
                  type: string
                  pattern: ^[0-9]$
            gender:
              type: object
              properties:
                name:
                  type: string
                privacyLevel:
                  type: string
                  pattern: ^[0-9]$
            job:
              type: object
              properties:
                name:
                  type: string
                privacyLevel:
                  type: string
                  pattern: ^[0-9]$
            workspace:
              type: object
              properties:
                userWorkspacePc:
                  type: string
                userWorkspaceTool:
                  type: string
                userWorkspaceTablet:
                  type: string
                userWorkspaceMouse:
                  type: string
                userWorkspaceDesktop:
                  type: string
                userWorkspaceMusic:
                  type: string
                userWorkspaceDesk:
                  type: string
                userWorkspaceChair:
                  type: string
            official:
              type: boolean
              default: false
            group:
              type: array
              items:
                type: object
                required:
                  - id
                  - title
                  - iconUrl
                properties:
                  id:
                    type: string
                    pattern: ^[0-9]$
                  title:
                    type: string
                  iconUrl:
                    type: string
                    format: url
tags:
  - name: Top page
    description: Get the information in the top page.
  - name: User Information
    description: Get user information in various formats.
paths:
  /ajax/top/illust:
    get:
      tags:
        - Top page
      summary: Get top page artworks
      description: Get the artworks in the top page.
      security:
        - Cookie_Auth: []
        - CSRF_Token_Auth: []
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: mode
          in: query
          description: '`r18` cannot be used without login authorization.'
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - all
              - safe
              - r18
      responses:
        '200':
          description: A JSON of normal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/top_page_artworks'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
  /ajax/top/user/{USER_ID}:
    get:
      tags:
        - User Information
      summary: Get user information (short)
      description: Get user information in a simplified format.
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: USER_ID
          in: path
          description: pixiv User ID
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
      responses:
        '200':
          description: A JSON of normal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_info_short'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404_user'
  /ajax/top/user/{USER_ID}?full=1:
    get:
      tags:
        - User Information
      summary: Get user information (full)
      description: Get full user information.
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: USER_ID
          in: path
          description: pixiv User ID
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
      responses:
        '200':
          description: A JSON of normal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/user_info_full'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404_user'
