openapi: 3.0.3
info:
  title: Pixiv Ajax API
  description: >-
    The details of the Pixiv Ajax API.

    ## Note

    This document was created and published for research purposes only. This
    document is unofficial and in no way affiliated with pixiv. Misuse of the
    API by this document is prohibited.

    ## CORS

    The pixiv Ajax API **does probably not support CORS** and there is no `Access-Control-Allow-Origin` in the HTTP header of the response.  Therefore, to use the pixiv Ajax API **in a web browser**, **you must use a proxy that provides CORS headers.**

    ## Authorization
    
    Authorization is required to use some parameters of the pixiv Ajax API. 

    ### Authorization Method 1 (best)

    The best authorization method is to use Method 2 and Method 3 together.

    ### Authorization Method 2

    First, log in to pixiv with a browser and get the Cookie data. Then, add the saved Cookie data to the request header to the API and send. (`Cookie: {RAW_COOKIE_DATA}`) 

    Cookie data can be obtained using Chrome/Firefox developer tools. For iOS, you can use [Proxyman](https://apps.apple.com/jp/app/id1551292695) to get the Cookie data.

    There are some endpoints that cannot be used by this method alone. For example, the endpoint that uses the `POST`.

    ### Authorization Method 3

    First, log in to pixiv with a browser and get the `x-csrf-token` data. Then, add the saved `x-csrf-token` data to the request header to the API and send. (`x-csrf-token: {X-CSRF-TOKEN}`)

    `x-csrf-token` data can be obtained using Chrome/Firefox developer tools. For iOS, you can use [Proxyman](https://apps.apple.com/jp/app/id1551292695) to get the `x-csrf-token` data.

    There are some endpoints that cannot be used by this method alone.
  termsOfService: https://policies.pixiv.net/
  contact:
    name: daydreamer-json
    url: https://github.com/daydreamer-json
  version: 0.0.1
servers:
  - url: https://www.pixiv.net
    description: pixiv Server
components:
  securitySchemes:
    Cookie_Auth:
      type: apiKey
      description: Specify raw Cookie data
      name: Cookie
      in: header
    CSRF_Token_Auth:
      type: apiKey
      description: Specify CSRF token
      name: x-csrf-token
      in: header
  schemas:
    error_403:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - true
        message:
          type: string
          enum:
            - 不正なリクエストです。
        body:
          type: array
          items:
            nullable: true
    error_404:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - true
        message:
          type: string
          enum:
            - リクエストされたページが見つかりませんでした
        body:
          type: array
          items:
            nullable: true
    error_404_user:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - true
        message:
          type: string
          enum:
            - リクエストされたページが見つかりませんでした
            - 該当ユーザーは既に退会したか、存在しないユーザーIDです。
        body:
          type: array
          items:
            nullable: true
    ajax_top_illust:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - tagTranslation
            - thumbnails
            - illustSeries
            - requests
            - users
            - page
            - boothItems
            - sketchLives
            - zoneConfig
          properties:
            tagTranslation:
              type: object
              patternProperties:
                ^.*$:
                  type: object
                  required:
                    - romaji
                  properties:
                    romaji:
                      type: string
            thumbnails:
              type: object
              required:
                - illust
                - novel
                - novelSeries
                - novelDraft
              properties:
                illust:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - title
                      - illustType
                      - xRestrict
                      - restrict
                      - sl
                      - url
                      - description
                      - tags
                      - userId
                      - userName
                      - width
                      - height
                      - pageCount
                      - isBookmarkable
                      - bookmarkData
                      - alt
                      - titleCaptionTranslation
                      - createDate
                      - updateDate
                      - isUnlisted
                      - isMasked
                      - urls
                      - profileImageUrl
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      title:
                        type: string
                      illustType:
                        type: number
                      xRestrict:
                        type: number
                      restrict:
                        type: number
                      sl:
                        type: number
                      url:
                        type: string
                        format: url
                      description:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                      userId:
                        type: string
                        pattern: ^[0-9]$
                      userName:
                        type: string
                      width:
                        type: number
                      height:
                        type: number
                      pageCount:
                        type: number
                      isBookmarkable:
                        type: boolean
                        default: true
                      bookmarkData:
                        nullable: true
                      alt:
                        type: string
                      titleCaptionTranslation:
                        type: object
                        required:
                          - workTitle
                          - workCaption
                        properties:
                          workTitle:
                            nullable: true
                          workCaption:
                            nullable: true
                      createDate:
                        type: string
                        format: date-time
                      updateDate:
                        type: string
                        format: date-time
                      isUnlisted:
                        type: boolean
                        default: false
                      isMasked:
                        type: boolean
                        default: false
                      urls:
                        type: object
                        patternProperties:
                          ^[0-9]*x[0-9]*$:
                            type: string
                            format: url
                      profileImageUrl:
                        type: string
                        format: url
                novel:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - title
                      - xRestrict
                      - restrict
                      - url
                      - tags
                      - userId
                      - userName
                      - profileImageUrl
                      - textCount
                      - wordCount
                      - readingTime
                      - useWordCount
                      - description
                      - isBookmarkable
                      - bookmarkData
                      - bookmarkCount
                      - isOriginal
                      - marker
                      - titleCaptionTranslation
                      - createDate
                      - updateDate
                      - isMasked
                      - isUnlisted
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      title:
                        type: string
                      xRestrict:
                        type: number
                      restrict:
                        type: number
                      url:
                        type: string
                        format: url
                      tags:
                        type: array
                        items:
                          type: string
                      userId:
                        type: string
                        pattern: ^[0-9]$
                      userName:
                        type: string
                      profileImageUrl:
                        type: string
                        format: url
                      textCount:
                        type: number
                      wordCount:
                        type: number
                      readingTime:
                        type: number
                      useWordCount:
                        type: boolean
                      description:
                        type: string
                      isBookmarkable:
                        type: boolean
                        default: true
                      bookmarkData:
                        nullable: true
                      bookmarkCount:
                        type: number
                      isOriginal:
                        type: boolean
                      marker:
                        nullable: true
                      titleCaptionTranslation:
                        type: object
                        required:
                          - workTitle
                          - workCaption
                        properties:
                          workTitle:
                            nullable: true
                          workCaption:
                            nullable: true
                      createDate:
                        type: string
                        format: date-time
                      updateDate:
                        type: string
                        format: date-time
                      isMasked:
                        type: boolean
                        default: false
                      seriesId:
                        type: string
                        pattern: ^[0-9]$
                      seriesTitle:
                        type: string
                      isUnlisted:
                        type: boolean
                        default: false
                novelSeries:
                  type: array
                  items:
                    type: object
                novelDraft:
                  type: array
                  items:
                    type: object
            illustSeries:
              type: array
              items:
                nullable: true
            requests:
              type: array
              items:
                type: object
                required:
                  - requestId
                  - planId
                  - fanUserId
                  - creatorUserId
                  - requestStatus
                  - requestPostWorkType
                  - requestPrice
                  - requestProposal
                  - requestTags
                  - requestAdultFlg
                  - requestAnonymousFlg
                  - requestRestrictFlg
                  - requestAcceptCollaborateFlg
                  - requestResponseDeadlineDatetime
                  - requestPostDeadlineDatetime
                  - role
                  - collaborateStatus
                  - postWork
                properties:
                  requestId:
                    type: string
                    pattern: ^[0-9]$
                  planId:
                    type: string
                    pattern: ^[0-9]$
                  fanUserId:
                    type: string
                    pattern: ^[0-9]$
                  creatorUserId:
                    type: string
                    pattern: ^[0-9]$
                  requestStatus:
                    type: string
                  requestPostWorkType:
                    type: string
                  requestPrice:
                    type: number
                  requestProposal:
                    type: object
                    required:
                      - requestOriginalProposal
                      - requestOriginalProposalHtml
                      - requestOriginalProposalLang
                    properties:
                      requestOriginalProposal:
                        type: string
                      requestOriginalProposalHtml:
                        type: string
                      requestOriginalProposalLang:
                        type: string
                      requestTranslationProposal:
                        type: array
                        items:
                          type: object
                          required:
                            - requestProposal
                            - requestProposalHtml
                            - requestProposalLang
                          properties:
                            requestProposal:
                              type: string
                            requestProposalHtml:
                              type: string
                            requestProposalLang:
                              type: string
                  requestTags:
                    type: array
                    items:
                      type: string
                  requestAdultFlg:
                    type: boolean
                    default: false
                  requestAnonymousFlg:
                    type: boolean
                    default: false
                  requestRestrictFlg:
                    type: boolean
                    default: false
                  requestAcceptCollaborateFlg:
                    type: boolean
                  requestResponseDeadlineDatetime:
                    type: string
                    format: date-time
                  requestPostDeadlineDatetime:
                    type: string
                    format: date-time
                  role:
                    type: string
                  collaborateStatus:
                    type: object
                    required:
                      - collaborating
                      - collaborateAnonymousFlg
                      - collaboratedCnt
                      - collaborateUserSamples
                    properties:
                      collaborating:
                        type: boolean
                        default: false
                      collaborateAnonymousFlg:
                        type: boolean
                        default: false
                      collaboratedCnt:
                        type: number
                        default: 0
                      collaborateUserSamples:
                        type: array
                  postWork:
                    type: object
                    required:
                      - postWorkId
                      - postWorkType
                      - work
                    properties:
                      postWorkId:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      postWorkType:
                        type: string
                      work:
                        type: object
                        properties:
                          isUnlisted:
                            type: boolean
                            default: false
                          secret:
                            nullable: true
            users:
              type: array
              items:
                type: object
                required:
                  - partial
                  - comment
                  - followedBack
                  - userId
                  - name
                  - image
                  - imageBig
                  - premium
                  - isFollowed
                  - isMypixiv
                  - isBlocking
                  - background
                  - acceptRequest
                properties:
                  partial:
                    type: number
                    default: 0
                  comment:
                    type: string
                  followedBack:
                    type: boolean
                    default: false
                  userId:
                    type: string
                    pattern: ^[0-9]$
                  name:
                    type: string
                  image:
                    type: string
                    format: url
                  imageBig:
                    type: string
                    format: url
                  premium:
                    type: boolean
                    default: false
                  isFollowed:
                    type: boolean
                    default: false
                  isMypixiv:
                    type: boolean
                    default: false
                  isBlocking:
                    type: boolean
                    default: false
                  background:
                    nullable: true
                  acceptRequest:
                    type: boolean
                    default: false
            page:
              type: object
              required:
                - tags
                - follow
                - mypixiv
                - recommend
                - recommendByTag
                - ranking
                - pixivision
                - recommendUser
                - contestOngoing
                - contestResult
                - editorRecommend
                - boothFollowItemIds
                - sketchLiveFollowIds
                - sketchLivePopularIds
                - myFavoriteTags
                - newPost
                - trendingTags
                - completeRequestIds
                - userEventIds
              properties:
                tags:
                  type: array
                  items:
                    type: object
                    required:
                      - tag
                      - ids
                    properties:
                      tag:
                        type: string
                      ids:
                        type: array
                        items:
                          type: number
                follow:
                  type: array
                  items:
                    type: number
                mypixiv:
                  type: array
                recommend:
                  type: object
                  required:
                    - ids
                    - details
                  properties:
                    ids:
                      type: array
                      items:
                        type: string
                        pattern: ^[0-9]{2-9}$
                    details:
                      type: object
                      patternProperties:
                        ^[0-9]{2-9}$:
                          type: object
                          required:
                            - methods
                            - score
                            - seedIllustIds
                          properties:
                            methods:
                              type: array
                              items:
                                type: string
                            score:
                              type: number
                            seedIllustIds:
                              type: string
                              pattern: ^[0-9]{2,9}$
                recommendByTag:
                  type: array
                  items:
                    type: object
                    required:
                      - tag
                      - ids
                      - details
                    properties:
                      tag:
                        type: string
                      ids:
                        type: array
                        items:
                          type: string
                          pattern: ^[0-9]{2,9}$
                      details:
                        type: object
                        patternProperties:
                          ^[0-9]{2-9}$:
                            type: object
                            required:
                              - methods
                              - score
                              - seedIllustIds
                            properties:
                              methods:
                                type: array
                                items:
                                  type: string
                              score:
                                type: number
                              seedIllustIds:
                                type: array
                                items:
                                  nullable: true
                ranking:
                  type: object
                  required:
                    - items
                    - date
                  properties:
                    items:
                      type: array
                      items:
                        type: object
                        required:
                          - rank
                          - id
                        properties:
                          rank:
                            type: string
                            pattern: ^[0-9]$
                          id:
                            type: string
                            pattern: ^[0-9]{2,9}$
                    date:
                      type: string
                pixivision:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - title
                      - thumbnailUrl
                      - url
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]$
                      title:
                        type: string
                      thumbnailUrl:
                        type: string
                        format: url
                      url:
                        type: string
                        format: url
                recommendUser:
                  type: array
                  items:
                    type: object
                    required:
                      - id
                      - illustIds
                      - novelIds
                    properties:
                      id:
                        type: string
                        pattern: ^[0-9]$
                      illustIds:
                        type: array
                        items:
                          type: string
                          pattern: ^[0-9]{2,9}$
                      novelIds:
                        type: array
                        items:
                          type: string
                          pattern: ^[0-9]$
                contestOngoing:
                  type: array
                  items:
                    type: object
                    required:
                      - slug
                      - type
                      - name
                      - url
                      - iconUrl
                      - workIds
                      - isNew
                    properties:
                      slug:
                        type: string
                      type:
                        type: string
                      name:
                        type: string
                      url:
                        type: string
                        format: url
                      iconUrl:
                        type: string
                        format: url
                      workIds:
                        type: array
                        items:
                          type: number
                      isNew:
                        type: boolean
                contestResult:
                  type: array
                  items:
                    nullable: true
                editorRecommend:
                  type: array
                  items:
                    type: object
                    required:
                      - illustId
                      - comment
                    properties:
                      illustId:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      comment:
                        type: string
                boothFollowItemIds:
                  type: array
                  items:
                    type: string
                    pattern: ^[0-9]$
                sketchLiveFollowIds:
                  type: array
                  items:
                    type: string
                    pattern: ^[0-9]$
                sketchLivePopularIds:
                  type: array
                  items:
                    type: string
                    pattern: ^[0-9]$
                myFavoriteTags:
                  type: array
                  items:
                    type: string
                newPost:
                  type: array
                  items:
                    type: string
                    pattern: ^[0-9]{2,9}$
                trendingTags:
                  type: array
                  items:
                    type: object
                    required:
                      - tag
                      - trendingRate
                      - ids
                    properties:
                      tag:
                        type: string
                      trendingRate:
                        type: number
                      ids:
                        type: array
                        items:
                          type: number
                completeRequestIds:
                  type: array
                  items:
                    type: string
                    format: ^[0-9]$
                userEventIds:
                  type: array
                  items:
                    type: string
                    format: ^[0-9]{2,9}$
            boothItems:
              type: array
              items:
                type: object
                required:
                  - id
                  - userId
                  - title
                  - url
                  - imageUrl
                  - adult
                properties:
                  id:
                    type: string
                    pattern: ^[0-9]$
                  userId:
                    type: string
                    pattern: ^[0-9]$
                  title:
                    type: string
                  url:
                    type: string
                    format: url
                  imageUrl:
                    type: string
                    format: url
                  adult:
                    type: boolean
                    default: false
            sketchLives:
              type: array
              items:
                type: object
                required:
                  - id
                  - name
                  - url
                  - thumbnailUrl
                  - audienceCount
                  - isR18
                  - streamerIds
                properties:
                  id:
                    type: string
                    pattern: ^[0-9]$
                  name:
                    type: string
                  url:
                    type: string
                    format: url
                  thumbnailUrl:
                    type: string
                    format: url
                  audienceCount:
                    type: number
                  isR18:
                    type: boolean
                    default: false
                  streamerIds:
                    type: array
                    items:
                      type: number
            zoneConfig:
              type: object
              required:
                - logo
                - header
                - footer
                - topbranding_rectangle
                - comic
                - illusttop_appeal
              properties:
                logo:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                header:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                footer:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                topbranding_rectangle:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                comic:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                illusttop_appeal:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
    ajax_user_short:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - userId
            - name
            - image
            - imageBig
            - premium
            - isFollowed
            - isMypixiv
            - isBlocking
            - background
            - sketchLiveId
            - partial
            - acceptRequest
            - sketchLives
          properties:
            userId:
              type: string
              pattern: ^[0-9]$
            name:
              type: string
            image:
              type: string
              format: url
            imageBig:
              type: string
              format: url
            premium:
              type: boolean
              default: false
            isFollowed:
              type: boolean
              default: false
            isMypixiv:
              type: boolean
              default: false
            isBlocking:
              type: boolean
              default: false
            background:
              nullable: true
            sketchLiveId:
              nullable: true
            partial:
              type: number
            acceptRequest:
              type: boolean
              default: false
            sketchLives:
              type: array
              items:
                nullable: true
    ajax_user_full:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - userId
            - name
            - image
            - imageBig
            - premium
            - isFollowed
            - isMypixiv
            - isBlocking
            - background
            - sketchLiveId
            - partial
            - acceptRequest
            - sketchLives
            - following
            - followedBack
            - comment
            - commentHtml
            - webpage
            - social
            - canSendMessage
            - region
            - age
            - birthDay
            - gender
            - job
            - workspace
            - official
            - group
          properties:
            userId:
              type: string
              pattern: ^[0-9]$
            name:
              type: string
            image:
              type: string
              format: url
            imageBig:
              type: string
              format: url
            premium:
              type: boolean
              default: false
            isFollowed:
              type: boolean
              default: false
            isMypixiv:
              type: boolean
              default: false
            isBlocking:
              type: boolean
              default: false
            background:
              nullable: true
            sketchLiveId:
              nullable: true
            partial:
              type: number
            acceptRequest:
              type: boolean
              default: false
            sketchLives:
              type: array
              items:
                nullable: true
            following:
              type: number
            followedBack:
              type: boolean
              default: false
            comment:
              type: string
            commentHtml:
              type: string
            webpage:
              nullable: true
            social:
              type: object
              properties:
                twitter:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
            canSendMessage:
              type: boolean
            region:
              type: object
              properties:
                name:
                  type: string
                region:
                  type: string
                prefecture:
                  type: string
                privacyLevel:
                  type: string
                  pattern: ^[0-9]$
            age:
              type: object
              properties:
                name:
                  type: string
                privacyLevel:
                  type: string
                  pattern: ^[0-9]$
            birthDay:
              type: object
              properties:
                name:
                  type: string
                privacyLevel:
                  type: string
                  pattern: ^[0-9]$
            gender:
              type: object
              properties:
                name:
                  type: string
                privacyLevel:
                  type: string
                  pattern: ^[0-9]$
            job:
              type: object
              properties:
                name:
                  type: string
                privacyLevel:
                  type: string
                  pattern: ^[0-9]$
            workspace:
              type: object
              properties:
                userWorkspacePc:
                  type: string
                userWorkspaceTool:
                  type: string
                userWorkspaceTablet:
                  type: string
                userWorkspaceMouse:
                  type: string
                userWorkspaceDesktop:
                  type: string
                userWorkspaceMusic:
                  type: string
                userWorkspaceDesk:
                  type: string
                userWorkspaceChair:
                  type: string
            official:
              type: boolean
              default: false
            group:
              type: array
              items:
                type: object
                required:
                  - id
                  - title
                  - iconUrl
                properties:
                  id:
                    type: string
                    pattern: ^[0-9]$
                  title:
                    type: string
                  iconUrl:
                    type: string
                    format: url
    ajax_user_focus_on_artwork:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - illusts
            - manga
            - novels
            - mangaSeries
            - novelSeries
            - pickup
            - bookmarkCount
            - extrenalSiteWorksStatus
            - request
          properties:
            illusts:
              type: object
              patternProperties:
                ^[0-9]{2,9}$:
                  nullable: true
            manga:
              type: object
              patternProperties:
                ^[0-9]{2,9}$:
                  nullable: true
            novels:
              type: array
              items:
                nullable: true
            mangaSeries:
              type: array
              items:
                type: object
                required:
                  - id
                  - userId
                  - title
                  - description
                  - caption
                  - total
                  - content_order
                  - url
                  - coverImageSl
                  - firstIllustId
                  - latestIllustId
                  - createDate
                  - updateDate
                  - watchCount
                  - isWatched
                  - isNotifying
                properties:
                  id:
                    type: string
                    pattern: ^[0-9]$
                  userId:
                    type: string
                    pattern: ^[0-9]$
                  title:
                    type: string
                  description:
                    type: string
                  caption:
                    type: string
                  total:
                    type: number
                  content_order:
                    nullable: true
                  url:
                    nullable: true
                  coverImageSl:
                    nullable: true
                  firstIllustId:
                    type: string
                    pattern: ^[0-9]{2,9}$
                  latestIllustId:
                    type: string
                    pattern: ^[0-9]{2,9}$
                  createDate:
                    type: string
                    format: date-time
                  updateDate:
                    type: string
                    format: date-time
                  watchCount:
                    nullable: true
                  isWatched:
                    type: boolean
                    default: false
                  isNotifying:
                    type: boolean
                    default: false
            novelSeries:
              type: array
              items:
                nullable: true
            pickup:
              type: array
              items:
                anyOf:
                  - type: object
                    required:
                      - type
                      - deletable
                      - draggable
                      - userName
                      - userImageUrl
                      - contentUrl
                      - description
                      - imageUrl
                      - imageUrlMobile
                      - hasAdultContent
                    properties:
                      type:
                        type: string
                      deletable:
                        type: boolean
                      draggable:
                        type: boolean
                        default: true
                      userName:
                        type: string
                      userImageUrl:
                        type: string
                        format: url
                      contentUrl:
                        type: string
                        format: url
                      description:
                        type: string
                      imageUrl:
                        type: string
                        format: url
                      imageUrlMobile:
                        type: string
                        format: url
                      hasAdultContent:
                        type: boolean
                        default: false
                  - type: object
                    required:
                      - type
                      - deletable
                      - draggable
                      - contentUrl
                      - id
                      - title
                      - illustType
                      - xRestrict
                      - restrict
                      - sl
                      - url
                      - description
                      - tags
                      - userId
                      - userName
                      - width
                      - height
                      - pageCount
                      - isBookmarkable
                      - bookmarkData
                      - alt
                      - titleCaptionTranslation
                      - createDate
                      - updateDate
                      - isUnlisted
                      - isMasked
                      - urls
                    properties:
                      type:
                        type: string
                      deletable:
                        type: boolean
                      draggable:
                        type: boolean
                        default: true
                      contentUrl:
                        type: string
                        format: url
                      id:
                        type: string
                        pattern: ^[0-9]{2,9}$
                      title:
                        type: string
                      illustType:
                        type: number
                      xRestrict:
                        type: number
                      restrict:
                        type: number
                      sl:
                        type: number
                      url:
                        type: string
                        format: url
                      description:
                        type: string
                      tags:
                        type: array
                        items:
                          type: string
                      userId:
                        type: string
                        pattern: ^[0-9]$
                      userName:
                        type: string
                      width:
                        type: number
                      height:
                        type: number
                      pageCount:
                        type: number
                      isBookmarkable:
                        type: boolean
                        default: true
                      bookmarkData:
                        nullable: true
                      alt:
                        type: string
                      titleCaptionTranslation:
                        type: object
                        required:
                          - workTitle
                          - workCaption
                        properties:
                          workTitle:
                            nullable: true
                          workCaption:
                            nullable: true
                      createDate:
                        type: string
                        format: date-time
                      updateDate:
                        type: string
                        format: date-time
                      isUnlisted:
                        type: boolean
                        default: false
                      isMasked:
                        type: boolean
                        default: false
                      urls:
                        type: object
                        patternProperties:
                          ^[0-9]*x[0-9]*$:
                            type: string
                            format: url
            bookmarkCount:
              type: object
              required:
                - public
                - private
              properties:
                public:
                  type: object
                  required:
                    - illust
                    - novel
                  properties:
                    illust:
                      type: number
                    novel:
                      type: number
                private:
                  type: object
                  required:
                    - illust
                    - novel
                  properties:
                    illust:
                      type: number
                    novel:
                      type: number
            externalSiteWorksStatus:
              type: object
              required:
                - booth
                - sketch
                - vroidHub
              properties:
                booth:
                  type: boolean
                sketch:
                  type: boolean
                vroidHub:
                  type: boolean
            request:
              type: object
              required:
                - showRequestTab
                - showRequestSentTab
                - postWorks
              properties:
                showRequestTab:
                  type: boolean
                  default: false
                showRequestSentTab:
                  type: boolean
                  default: false
                postWorks:
                  type: object
                  required:
                    - artworks
                    - novels
                  properties:
                    artworks:
                      type: array
                      items:
                        nullable: true
                    novels:
                      type: array
                      items:
                        nullable: true
    ajax_user_following:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - users
            - total
            - followUserTags
            - zoneConfig
            - extraData
          properties:
            users:
              type: array
              items:
                type: object
                required:
                  - userId
                  - userName
                  - profileImageUrl
                  - userComment
                  - following
                  - followed
                  - isBlocking
                  - isMypixiv
                  - illusts
                  - novels
                  - acceptRequest
                properties:
                  userId:
                    type: string
                    pattern: ^[0-9]$
                  userName:
                    type: string
                  profileImageUrl:
                    type: string
                    format: url
                  userComment:
                    type: string
                  following:
                    type: boolean
                    default: false
                  followed:
                    type: boolean
                    default: false
                  isBlocking:
                    type: boolean
                    default: false
                  isMypixiv:
                    type: boolean
                    default: false
                  illusts:
                    type: array
                    items:
                      type: object
                      nullable: true
                      required:
                        - id
                        - title
                        - illustType
                        - xRestrict
                        - restrict
                        - sl
                        - url
                        - description
                        - tags
                        - userId
                        - userName
                        - width
                        - height
                        - pageCount
                        - isBookmarkable
                        - bookmarkData
                        - alt
                        - titleCaptionTranslation
                        - createDate
                        - updateDate
                        - isUnlisted
                        - isMasked
                        - profileImageUrl
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]{2,9}$
                        title:
                          type: string
                        illustType:
                          type: number
                        xRestrict:
                          type: number
                        restrict:
                          type: number
                        sl:
                          type: number
                        url:
                          type: string
                          format: url
                        description:
                          type: string
                        tags:
                          type: array
                          items:
                            type: string
                        userId:
                          type: string
                          pattern: ^[0-9]$
                        userName:
                          type: string
                        width:
                          type: number
                        height:
                          type: number
                        pageCount:
                          type: number
                        isBookmarkable:
                          type: boolean
                          default: true
                        bookmarkData:
                          nullable: true
                        alt:
                          type: string
                        titleCaptionTranslation:
                          type: object
                          required:
                            - workTitle
                            - workCaption
                          properties:
                            workTitle:
                              nullable: true
                            workCaption:
                              nullable: true
                        createDate:
                          type: string
                          format: date-time
                        updateDate:
                          type: string
                          format: date-time
                        isUnlisted:
                          type: boolean
                          default: false
                        isMasked:
                          type: boolean
                          default: false
                        profileImageUrl:
                          type: string
                          format: url
                  novels:
                    type: array
                    items:
                      nullable: true
                  acceptRequest:
                    type: boolean
                    default: false
            total:
              type: number
            followUserTags:
              type: array
              items:
                nullable: true
            zoneConfig:
              type: object
              required:
                - header
                - footer
                - logo
              properties:
                header:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                footer:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                logo:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
              patternProperties:
                ^[0-9]*x[0-9]*$:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
            extraData:
              type: object
              required:
                - meta
              properties:
                meta:
                  type: object
                  required:
                    - title
                    - description
                    - canonical
                    - ogp
                    - twitter
                    - alternateLanguages
                    - descriptionHeader
                  properties:
                    title:
                      type: string
                    description:
                      type: string
                    canonical:
                      type: string
                      format: url
                    ogp:
                      type: object
                      required:
                        - description
                        - image
                        - title
                        - type
                      properties:
                        description:
                          type: string
                        image:
                          type: string
                          format: url
                        title:
                          type: string
                        type:
                          type: string
                    twitter:
                      type: object
                      required:
                        - description
                        - image
                        - title
                        - card
                      properties:
                        description:
                          type: string
                        image:
                          type: string
                          format: url
                        title:
                          type: string
                        card:
                          type: string
                    alternateLanguages:
                      type: object
                      required:
                        - ja
                        - en
                      properties:
                        ja:
                          type: string
                          format: url
                        en:
                          type: string
                          format: url
                    descriptionHeader:
                      type: string
    ajax_user_followers:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - users
            - total
            - zoneConfig
            - extraData
          properties:
            users:
              type: array
              items:
                type: object
                required:
                  - userId
                  - userName
                  - profileImageUrl
                  - userComment
                  - following
                  - followed
                  - isBlocking
                  - isMypixiv
                  - illusts
                  - novels
                  - acceptRequest
                properties:
                  userId:
                    type: string
                    pattern: ^[0-9]$
                  userName:
                    type: string
                  profileImageUrl:
                    type: string
                    format: url
                  userComment:
                    type: string
                  following:
                    type: boolean
                    default: false
                  followed:
                    type: boolean
                    default: false
                  isBlocking:
                    type: boolean
                    default: false
                  isMypixiv:
                    type: boolean
                    default: false
                  illusts:
                    type: array
                    items:
                      type: object
                      nullable: true
                      required:
                        - id
                        - title
                        - illustType
                        - xRestrict
                        - restrict
                        - sl
                        - url
                        - description
                        - tags
                        - userId
                        - userName
                        - width
                        - height
                        - pageCount
                        - isBookmarkable
                        - bookmarkData
                        - alt
                        - titleCaptionTranslation
                        - createDate
                        - updateDate
                        - isUnlisted
                        - isMasked
                        - profileImageUrl
                      properties:
                        id:
                          type: string
                          pattern: ^[0-9]{2,9}$
                        title:
                          type: string
                        illustType:
                          type: number
                        xRestrict:
                          type: number
                        restrict:
                          type: number
                        sl:
                          type: number
                        url:
                          type: string
                          format: url
                        description:
                          type: string
                        tags:
                          type: array
                          items:
                            type: string
                        userId:
                          type: string
                          pattern: ^[0-9]$
                        userName:
                          type: string
                        width:
                          type: number
                        height:
                          type: number
                        pageCount:
                          type: number
                        isBookmarkable:
                          type: boolean
                          default: true
                        bookmarkData:
                          nullable: true
                        alt:
                          type: string
                        titleCaptionTranslation:
                          type: object
                          required:
                            - workTitle
                            - workCaption
                          properties:
                            workTitle:
                              nullable: true
                            workCaption:
                              nullable: true
                        createDate:
                          type: string
                          format: date-time
                        updateDate:
                          type: string
                          format: date-time
                        isUnlisted:
                          type: boolean
                          default: false
                        isMasked:
                          type: boolean
                          default: false
                        profileImageUrl:
                          type: string
                          format: url
                  novels:
                    type: array
                    items:
                      nullable: true
                  acceptRequest:
                    type: boolean
                    default: false
            total:
              type: number
            zoneConfig:
              type: object
              required:
                - header
                - footer
                - logo
              properties:
                header:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                footer:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
                logo:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
              patternProperties:
                ^[0-9]*x[0-9]*$:
                  type: object
                  required:
                    - url
                  properties:
                    url:
                      type: string
                      format: url
            extraData:
              type: object
              required:
                - meta
              properties:
                meta:
                  type: object
                  required:
                    - title
                    - description
                    - canonical
                    - ogp
                    - twitter
                    - alternateLanguages
                    - descriptionHeader
                  properties:
                    title:
                      type: string
                    description:
                      type: string
                    canonical:
                      type: string
                      format: url
                    ogp:
                      type: object
                      required:
                        - description
                        - image
                        - title
                        - type
                      properties:
                        description:
                          type: string
                        image:
                          type: string
                          format: url
                        title:
                          type: string
                        type:
                          type: string
                    twitter:
                      type: object
                      required:
                        - description
                        - image
                        - title
                        - card
                      properties:
                        description:
                          type: string
                        image:
                          type: string
                          format: url
                        title:
                          type: string
                        card:
                          type: string
                    alternateLanguages:
                      type: object
                      required:
                        - ja
                        - en
                      properties:
                        ja:
                          type: string
                          format: url
                        en:
                          type: string
                          format: url
                    descriptionHeader:
                      type: string
    ajax_user_works_latest:
      type: object
      required:
        - error
        - message
        - body
      properties:
        error:
          type: boolean
          enum:
            - false
        message:
          type: string
          enum:
            - ""
        body:
          type: object
          required:
            - illusts
            - novels
          properties:
            illusts:
              type: object
              patternProperties:
                ^[0-9]{2,9}$:
                  type: object
                  required:
                    - id
                    - title
                    - illustType
                    - xRestrict
                    - restrict
                    - sl
                    - url
                    - description
                    - tags
                    - userId
                    - userName
                    - width
                    - height
                    - pageCount
                    - isBookmarkable
                    - bookmarkData
                    - alt
                    - titleCaptionTranslation
                    - createDate
                    - updateDate
                    - isUnlisted
                    - isMasked
                    - profileImageUrl
                  properties:
                    id:
                      type: string
                      pattern: ^[0-9]{2,9}$
                    title:
                      type: string
                    illustType:
                      type: number
                    xRestrict:
                      type: number
                    restrict:
                      type: number
                    sl:
                      type: number
                    url:
                      type: string
                      format: url
                    description:
                      type: string
                    tags:
                      type: array
                      items:
                        type: string
                    userId:
                      type: string
                      pattern: ^[0-9]$
                    userName:
                      type: string
                    width:
                      type: number
                    height:
                      type: number
                    pageCount:
                      type: number
                    isBookmarkable:
                      type: boolean
                      default: true
                    bookmarkData:
                      nullable: true
                    alt:
                      type: string
                    titleCaptionTranslation:
                      type: object
                      required:
                        - workTitle
                        - workCaption
                      properties:
                        workTitle:
                          nullable: true
                        workCaption:
                          nullable: true
                    createDate:
                      type: string
                      format: date-time
                    updateDate:
                      type: string
                      format: date-time
                    isUnlisted:
                      type: boolean
                      default: false
                    isMasked:
                      type: boolean
                      default: false
                    profileImageUrl:
                      type: string
                      format: url
            novels:
              type: array
              items:
                type: object
                nullable: true
tags:
  - name: Top page
    description: Get the information in the top page.
  - name: User Information
    description: Get user information in various formats.
paths:
  /ajax/top/illust:
    get:
      operationId: ajax_top_illust
      tags:
        - Top page
      summary: Get top page artworks
      description: Get the artworks in the top page.
      security:
        - Cookie_Auth: []
        - CSRF_Token_Auth: []
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: mode
          in: query
          description: '`r18` cannot be used without login authorization.'
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - all
              - safe
              - r18
      responses:
        '200':
          description: A JSON of normal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ajax_top_illust'
                example:
                  $ref: '../json/example_response/ajax/top/illust.json'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404'
  /ajax/user/{USER_ID}:
    get:
      operationId: ajax_user_short
      tags:
        - User Information
      summary: Get user information (short)
      description: Get user information in a simplified format.
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: USER_ID
          in: path
          description: pixiv User ID
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
      responses:
        '200':
          description: A JSON of normal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ajax_user_short'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404_user'
  /ajax/user/{USER_ID}?full=1:
    get:
      operationId: ajax_user_full
      tags:
        - User Information
      summary: Get user information (full)
      description: Get full user information.
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: USER_ID
          in: path
          description: pixiv User ID
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
      responses:
        '200':
          description: A JSON of normal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ajax_user_full'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404_user'
  /ajax/user/{USER_ID}/profile/all:
    get:
      operationId: ajax_user_focus_on_artwork
      tags:
        - User Information
      summary: Get user information (focus on artwork)
      description: Get user information along with information about artwork posted by the user.
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: USER_ID
          in: path
          description: pixiv User ID
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
      responses:
        '200':
          description: A JSON of normal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ajax_user_focus_on_artwork'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404_user'
  /ajax/user/{USER_ID}/following:
    get:
      operationId: ajax_user_following
      tags:
        - User Information
      summary: Get following users
      description: Get following users.
      security:
        - Cookie_Auth: []
        - CSRF_Token_Auth: []
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: USER_ID
          in: path
          description: pixiv User ID
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
        - name: offset
          in: query
          description: Offset results
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
        - name: limit
          in: query
          description: Results limit
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
        - name: rest
          in: query
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - show
      responses:
        '200':
          description: A JSON of normal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ajax_user_following'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404_user'
  /ajax/user/{USER_ID}/followers:
    get:
      operationId: ajax_user_followers
      tags:
        - User Information
      summary: Get user's followers
      description: Get user's followers.
      security:
        - Cookie_Auth: []
        - CSRF_Token_Auth: []
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: USER_ID
          in: path
          description: pixiv User ID
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
        - name: offset
          in: query
          description: Offset results
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
        - name: limit
          in: query
          description: Results limit
          required: false
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
      responses:
        '200':
          description: A JSON of normal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ajax_user_followers'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404_user'
  /ajax/user/{USER_ID}/works/latest:
    get:
      operationId: ajax_user_works_latest
      tags:
        - User Information
      summary: Get user latest artworks
      description: Get the latest artworks of users.
      parameters:
        - name: Referer
          in: header
          description: HTTP Referer Header
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: string
            enum:
              - https://www.pixiv.net/
        - name: USER_ID
          in: path
          description: pixiv User ID
          required: true
          deprecated: false
          allowEmptyValue: false
          schema:
            type: number
      responses:
        '200':
          description: A JSON of normal response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ajax_user_works_latest'
        '403':
          description: A JSON of error 403 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_403'
        '404':
          description: A JSON of error 404 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_404_user'
